	<?php include("header.php"); ?>

		<main>
		       <p><a href="home.php">&lsaquo;- Home</a></p>
			<figure>
				<h2 style="color:darkorchid;"><pre>

<!-- Please make your title on "http://patorjk.com/software/taag/#p=display&f=Graffiti&t=Type%20Something"
Choose "Slant" font-family -->

</pre></h2>
			<table border width="100%">
				<caption style="text-decoration:underline; color:forestgreen;font-weight:bold;">GENERAL</caption>
				<tr>
					<th width="40%">Command</th>
					<th width="60%">Description</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
			<table border width="100%">
				<caption style="text-decoration:underline; color:forestgreen;font-weight:bold;">WINDOWS/TABS</caption>
				<tr>
					<th width="40%">Command</th>
					<th width="60%">Description</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>

			</table>

		</figure>

		       <p><a href="home.php">&lsaquo;- Home</a></p>
	</body>
</html>
